# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Temporary files
\#*
.\#*
*~
*_flymake.cpp

# Merge conflicts
*.orig

BUILD/*
contrib/BUILD/*

!.keep
